body {
    margin: 0px;
    padding: 0px;
    background-color: #a0b285;
    font-family: Impact;
    text-align: center;
}

.banner {
    height: 10%;
    background-image: url(./resources/banner.jpg);
    font-size: 36pt;
    letter-spacing: 5px;
}

div.board {
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    border: 10px solid black;
    margin: auto;
    width: 1000px;
    background-color: #d9d9d9;
}

div.box {
    border: 1px solid black;
}

#start {
    background-image: url(./resources/home.png);
    background-repeat: no-repeat;
}

#end {
    background-image: url(./resources/crown2.png);
    background-repeat: no-repeat;
    animation-name: goal;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

div.wall {
    background-color: #000000;
} 

div.forest {
    background-image: url(./resources/forest.jpeg);
}

div.box:hover {
    background-image: url(./resources/character.png);
    animation-name: character;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border: none;
}

@keyframes character {
    0% {opacity: 0; transform: translateX(-50px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes goal {
    0%   {background-color: yellow;}
    50%  {background-color: green;}
    100% {background-color: yellow;}
}
